<div class="card">
    <div class="card-header bg-primary text-white">
      Búsqueda
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Filtro</span>
            </div>
            <input [(ngModel)]="termino" (input)="buscarServicios()" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          </div>
        </div>
        <div class="col-md-1">
            <a class="btn btn-primary" href="#/servicio/crearservicio/nuevo"><i class="mdi mdi-plus"></i></a>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-primary text-white">
      Resultados
    </div>
    <div class="card-body">
      <table class="table table-sm table-striped table-responsive-sm">
        <thead class=" ">
          <tr>
            <th></th>
            <th scope="col">Descripción</th>
            <th scope="col">Tiempo estandar</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let servicio of servicios">
  
            <td>
                <a class="btn btn-sm btn-primary" href="#/servicio/crearservicio/{{servicio.id}}">
                    <i class="mdi mdi-pencil"></i>
                </a>
              <button [disabled]="servicio.ordenes.length!=0" (click)="eliminarServicio(servicio)" class="btn btn-sm btn-danger">
                <i class="mdi mdi-delete"></i>
              </button>
            </td>
            <td>
                {{servicio.descripcion}}
            </td>
            <td>{{servicio.tiempoEstandar }}</td>
            <td>{{servicio.categoria.descripcion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>