<div class="card">
  <div class="card-header bg-primary text-white">
    Filtros
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-4">
        <div class="radio">
          <label>
            <input type="radio" checked value="1" [(ngModel)]="filtro" name="optradio">Reporte por operador</label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="2" [(ngModel)]="filtro" name="optradio">Reporte por Orden de trabajo</label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="3" [(ngModel)]="filtro" name="optradio">Reporte por Tarea</label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" value="4" [(ngModel)]="filtro" name="optradio">Reporte por Fecha</label>
        </div>
      </div>

      <div class="col-md-8">
        <div *ngIf="filtro==1">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Seleccionar operador</span>
            </div>
            <input [(ngModel)]="personaSeleccionada" (click)="open(content)" readonly type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-sm">
            <button class="btn btn-light" (click)="open(content)">
              <i class="mdi mdi-magnify"></i>
            </button>

          </div>

          <div *ngIf="personaSeleccionada!=''">
            Desde:
            <input [(ngModel)]="filtroTiempo.inicio" type="date">
            <input [(ngModel)]="filtroTiempo.iniciohora" type="time"><br>
             Hasta:
            <input [(ngModel)]="filtroTiempo.fin" type="date">
            <input [(ngModel)]="filtroTiempo.finhora" type="time"><br>
            <button (click)="buscarPorOperador()">Buscar</button>
          </div>
        </div>
        <div *ngIf="filtro==2">
          Reporte por Orden de trabajo
        </div>
        <div *ngIf="filtro==3">
          Reporte por Tarea
        </div>
        <div *ngIf="filtro==4">
          Reporte por Fecha
        </div>
      </div>
    </div>


  </div>
</div>

<div class="card">
  <div class="card-header bg-primary text-white">
    Resultados
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm table-responsive-md">
      <thead class="">
        <tr>
          <th scope="col"># Orden</th>
          <th scope="col">Tarea</th>
          <th scope="col">Tiempo estandar</th>
          <th scope="col">Lead time</th>
          <th scope="col">Tiempo real</th>
          <th scope="col">Eficiencia</th>
          <th scope="col">Operador</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reporte of reportes"
         [class.table-success]="reporte.eficiencia>=90"
         [class.table-warning]="reporte.eficiencia>=30 && reporte.eficiencia<90"
         [class.table-danger]="reporte.eficiencia<30"
         >
          <td>{{reporte.orden}}</td>
          <td>{{reporte.tarea}}</td>
          <td>{{reporte.tiempoEstandar}}</td>
          <td>{{reporte.tiempoTranscurrido}}</td>
          <td>{{reporte.tiempoPausas}}</td> 
          <td>{{reporte.eficiencia}}%</td>
          <td>{{reporte.operador}}</td>
          <td>
            <a class="btn btn-primary btn-sm" href="/#/reporte/detalletarea/{{reporte.ordenservicio}}">Ver detalles</a>
          </td>

        </tr>
        <hr>
        <tr *ngFor="let suma of sumas">
          <td></td>
          <td></td>
          <th>{{suma.sumaTiempoEstandar}}</th>
          <td></td>
          <td></td>
          <th>{{suma.sumaTiempoReal}}</th>
        </tr>
      </tbody>
    </table>
  </div>

</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header bg-primary text-white">
    <h4 class="modal-title text-white">Seleccionar operador</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

   


    <table class="table table-responsive table-sm">
      <thead>
        <tr>

    
          <th scope="col">Operador</th>

          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let operador of operadores">

          <td>{{operador.descripcion}}</td>
         

          <td>
            <button class="btn btn-success btn-sm" (click)="seleccionarPersona(operador); c('Close click')">
              <i class="mdi mdi-arrow-down"></i>
            </button>
          </td>
        </tr>

      </tbody>
    </table>
    <hr>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">

        <li class="page-item " [class.disabled]="pagina==1">
          <button class="page-link" (click)="navegarPaginas('-')" tabindex="-1">
            <<</button>
        </li>
        <li class="page-item">
          <span class="page-link">
            Página {{pagina}}
            <span class="sr-only">(current)</span>
          </span>
        </li>
        <li class="page-item " [class.disabled]="operadores.length < registros">
          <button class="page-link" (click)="navegarPaginas('+')">>></button>
        </li>
      </ul>
    </nav>



  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-inverse" (click)="c('Close click')">Cerrar</button>
  </div>
</ng-template>