<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-primary text-white">
        Información
      </div>

      <div class="card-body">

        <div class="row">

          <div class="col-md-12">
            <div class=" float-md-right">

              <a class="btn btn-pencil" href="#/persona/crearpersona/{{persona.id}}" title="Editar" >
                <i class="mdi mdi-pencil"></i>
              </a>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <ul class="list-group list-group-flush">

              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Estado:</strong>
                  </div>
                  <div class="col-md-9">{{persona.estado}}</div>
                </div>
              </li>


              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Cédula/RUC:</strong>
                  </div>
                  <div class="col-md-9">{{persona.cedula}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Nombre:</strong>
                  </div>
                  <div class="col-md-9">{{persona.nombre}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Teléfono:</strong>
                  </div>
                  <div class="col-md-9">{{persona.telefono}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Dirección:</strong>
                  </div>
                  <div class="col-md-9">{{persona.direccion}}</div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row">
                  <div class="col-md-3">
                    <strong>Correo:</strong>
                  </div>
                  <div class="col-md-9">{{persona.correo}}</div>
                </div>
              </li>


            </ul>
          </div>

        </div>


      </div>

    </div>
  </div>


</div>

<div class="card">
  <div class="card-header bg-primary text-white">
    Rol de la persona en la empresa
  </div>
  <div class="card-body">
    <ngb-accordion #acc="ngbAccordion" class="accordion">


      <ngb-panel id="toggle-1" class="bg-primary" title="Cliente">
        <ng-template ngbPanelContent>

          <button *ngIf="persona.cliente.length==0" class="btn btn-primary" (click)="activarCliente()">Activar</button>

          <div *ngIf="persona.cliente.length==1" class="col-md-12">

            <div class="card">
              <div class="card-header bg-primary text-white">
                Vehículos
              </div>
              <div class="card-body">

                <div class="float-md-right">

                  <button class="btn btn-primary" (click)="agregarVehiculo()">
                    <i class="mdi mdi-plus"></i>
                  </button>
                </div>

                <table class="table table-responsive-sm">
                  <thead>
                    <tr>
                      <th></th>
                      <th scope="col">ID</th>
                      <th scope="col">Marca</th>
                      <th scope="col">Modelo</th>
                      <th scope="col">Color</th>
                      <th scope="col">Dueño actual</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of persona.cliente[0].vehiculos">

                      <td>

                        <a class="btn btn-sm btn-success" title="Modificar vehículo" href="#/vehiculo/crearvehiculo/{{item.id}}">
                          <i class="mdi mdi-pencil"></i>
                        </a>
                        <button class="btn btn-sm btn-danger" (click)="desvincularVehiculo(item, item.dueno==persona.cliente[0].id)" title="Desvincular vehiculo">
                          <i class="mdi mdi-delete"></i>
                        </button>
                      </td>
                      <td>{{item.placa}}</td>
                      <td>{{item.marca}}</td>
                      <td>{{item.modelo}}</td>
                      <td>{{item.color}}</td>
                      <td>
                        <input [checked]="item.dueno==persona.cliente[0].id" (change)="cambiarEsDueno(item.id, item.dueno==persona.cliente[0].id)"
                          type="checkbox">
                      </td>
                    </tr>

                  </tbody>
                </table>

              </div>
            </div>


          </div>


        </ng-template>
      </ngb-panel>
      <ngb-panel id="toggle-2" title="Empleado">
        <ng-template ngbPanelContent>
          <button *ngIf="persona.usuario.length==0" class="btn btn-primary" (click)="activarUsuario()">Activar</button>

          <div *ngIf="persona.usuario.length==1">

            <input [checked]="roles.Administrador" (change)="modificarRoles()" [(ngModel)]="roles.Administrador" class="form-check-input"
              type="checkbox" value="1" id="rol1">
            <label class="form-check-label" for="rol1">
              Administrador
            </label>
            <br>

            <input [checked]="roles.Tecnico" [(ngModel)]="roles.Tecnico" (change)="modificarRoles()" class="form-check-input" type="checkbox"
              value="2" id="rol2">
            <label class="form-check-label" for="rol2">
              Operador
            </label>
            <br>

        



            <input [checked]="roles.AsesorServicio" [(ngModel)]="roles.AsesorServicio" (change)="modificarRoles()" class="form-check-input"
              type="checkbox" value="3" id="rol3">
            <label class="form-check-label" for="rol3">
              Asesor de servicio
            </label>
            <br>
            <br>

          </div>



        </ng-template>
      </ngb-panel>
    </ngb-accordion>



  </div>
</div>