<div class="card">
  <div class="card-header bg-primary text-white">
    Datos de la persona
  </div>
  <div class="card-body">


    <form class="" [formGroup]="personaForm" (ngSubmit)="guardarPersona()">

      <div class="container row">
        <div class="col-md-4">
          <div class="form-group ">
            <label for="">Estado</label>
            <select class="form-control form-control-sm" formControlName="estado">
              <option value="ACTIVO">ACTIVO</option>
              <option value="INACTIVO">INACTIVO</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="">Tipo</label>
            <select class="form-control form-control-sm" formControlName="tipo">
              <option value="NATURAL">NATURAL</option>
              <option value="JURIDICA">JURIDICA</option>
              <option value="SIN RUC">SIN RUC</option>
            </select>
          </div>
          <div class="form-group ">
            <label for="">Cédula / RUC</label>
            <input autofocus type="text" class="form-control form-control-sm" formControlName="cedula">
          </div>
          <div class="form-group ">
            <label for="">Nombre / Razón social</label>
            <input type="text" class="form-control form-control-sm" formControlName="nombre">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group ">
            <label for="">Dirección</label>
            <input type="text" class="form-control form-control-sm" formControlName="direccion">
          </div>
          <div class="form-group ">
            <label for="">Teléfono</label>
            <input type="text" class="form-control form-control-sm" formControlName="telefono">
          </div>

          <div class="form-group ">
            <label for="">Correo</label>
            <input type="email" class="form-control form-control-sm" formControlName="correo">
          </div>

          <div *ngIf="id=='nuevo'" class="form-check">
            <input type="checkbox"  class="form-check-input" id="exampleCheck1" formControlName="esCliente">
            <label class="form-check-label" for="exampleCheck1">Cliente</label>
          </div>

          <div *ngIf="id=='nuevo'" class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck2" formControlName="esEmpleado">
            <label class="form-check-label" for="exampleCheck2">Empleado</label>
          </div>

          <div *ngIf="error!=''" class="alert alert-danger" role="alert">
            <strong>Error: </strong>{{error}}
          </div>

          <button class="btn btn-primary" [disabled]="!personaForm.valid" type="submit">Guardar</button>


        </div>
      </div>






    </form>


  </div>
</div>