<div class="card">
    <div class="card-header">
        Búsqueda
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Filtro</span>
                    </div>
                    <input [(ngModel)]="termino" (input)="buscarVehiculo()" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        Resultados
    </div>
    <div class="card-body">
        <table class="table table-sm table-striped table-responsive-sm">
            <thead class=" ">
                <tr>
                    <th></th>
                    <th scope="col">Placa</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Año</th>
                    <th scope="col">Número chasis</th>
                    <th scope="col">Número motor</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vehiculo of vehiculos">

                    <td>
                            <a class="btn btn-sm btn-primary"  title="Editar persona" href="#/vehiculo/crearvehiculo/{{vehiculo.id}}"><i class="mdi mdi-pencil"></i></a>
                        <button [disabled]="vehiculo.clientes.length>0 || vehiculo.ordenes.length>0" (click)="eliminarVehiculo(vehiculo.id)" class="btn btn-sm btn-danger">
                            <i class="mdi mdi-delete"></i>
                        </button>
                    </td>
                    <td>
                        <a href="/#/vehiculo/informacionvehiculo/{{vehiculo.id}}" class="btn btn-link">{{vehiculo.placa }}</a>
                    </td>
                    <td>{{vehiculo.marca}}</td>
                    <td>{{vehiculo.modelo}}</td>
                    <td>{{vehiculo.anio}}</td>
                    <td>{{vehiculo.numeroChasis}}</td>
                    <td>{{vehiculo.numeroMotor}}</td>
                </tr>


            </tbody>
        </table>

    </div>
</div>