<div class="card">
  <div class="card-header bg-primary text-white">
    Informaión del operador
  </div>
  <div class="card-body">
      <div class=" float-md-right">

          <a class="btn btn-pencil" href="#/persona/creargrupo/{{id}}" title="Editar" >
            <i class="mdi mdi-pencil"></i>
          </a>
        </div>

    <strong>Nombre del operador:</strong> {{operador.descripcion}}
    <br>

    <div>
      <strong>Usuario(s) asignados:</strong>
      <div *ngFor="let usuario of usuariosSeleccionados">
        {{usuario.nombre}}
      </div>
    </div>


  </div>
</div>